<table>
  <tr>
    <th>部屋</th>
    <th>W寸法</th>
    <th>H寸法</th>
    <th>窓枠見込み</th>
  </tr>
  <tr>
    <td>
      <div class="form-group">
        <%= f.text_field :room %>
      </div>
    </td>
    <%= f.fields_for :inner_sashs do |inner_sash| %>
      <%= render 'step2_form2', f: inner_sash %>
    <% end %>
  </tr>
</table>