<table>
  <tr>
    <th>部屋</th>
    <th>W寸法</th>
    <th>H寸法</th>
    <th>窓枠見込み</th>
  </tr>
  <tr>
    <td>
      <div class="form-group">
        <%= f.text_field :room %>
      </div>
    </td>
    <%= render partial: 'step2_form2' %>
  </tr>
</table>