<%= form_with url: sign_up_create_path, local: :true do |f| %>
  <div class="form-group">
    <%= f.label :confirmation_code, '認証コード' %><br />
    <%= f.number_field :confirmation_code %>
  </div>
  <div class="form-group">
    <%= f.submit '認証' %>
  </div>
<% end %>