<%= form_with url: sign_up_index_path, local: true do |f| %>
  <div class="form-group">
    <%= f.label :confirm_code, '認証コード' %><br />
    <%= f.number_field :confirm_code %>
  </div>
  <div class="form-group">
    <%= f.submit '認証' %>
  </div>
<% end %>