<ul class="nav nav-tabs nav-fill">
  <li class="nav-item">
    <%= link_to '開口図', inner_sashes_switch_path(template: 'opening_drawing', id: inner_sash.id), id: 'opening-tab', class: "nav-link #{is_active(defined? opening)}",
        data: { turbo_stream: true } %>
  </li>
  <li class="nav-item">
    <%= link_to '縦断面', inner_sashes_switch_path(template: 'h_cross_drawing', id: inner_sash.id), class: "nav-link #{is_active(defined? h_cross)}",
        data: { turbo_stream: true } %>
  </li>
  <li class="nav-item">
    <%= link_to '横断面', inner_sashes_switch_path(template: 'w_cross_drawing', id: inner_sash.id), class: "nav-link #{is_active(defined? w_cross)}", 
        data: { turbo_stream: true } %>
  </li>
</ul>