<p>窓台見込み</p>
<div class="form-group">
  <p>縦</p>
  <%= inner_sash.number_field :height_frame_depth %>
</div>
<div class="form-group">
  <p>横</p>
  <%= inner_sash.number_field :width_frame_depth %>
</div>