<div class="container text-center mb-3" style='margin-top:15vh;'>
  <div class='added-link-wrap pb-2 mb-3'>
    <a class='added-link' data-bs-toggle="collapse" href="#room-list-collapse" role="button" aria-expanded="false" aria-controls="room-list-collapse">
      <span><i class="bi bi-caret-down me-1 h3 align-middle"></i>追加済一覧</span>
    </a>
  </div>
  <div class="collapse" id='room-list-collapse'>
    <div id="room-lists" class='row justify-content-center'>
      <%= render @inner_sashes %>
    </div>
  </div>
</div>
