<div class="nested-fields mt-3">
  <% if f.object.file_name.blank? %>
    <div class="form-group">
      <%= f.file_field :file_name, class: 'form-control'  %>
    </div>
  <% else %>
    <div class="form_group">
      <%= image_tag f.object.file_name_url(:thumb) %>
      <%= f.file_field :file_name, class: 'form-control' %>
    </div>
  <% end %>
  <div class="row justify-content-end mt-1">
    <%= link_to_remove_association "削除", f, class: 'btn btn-danger col-3 p-0' %>
  </div>
</div>
