<div class="container-fluid">
  <div class="site-label row text-center">
    <p class='col my-1 fw-bold text-truncate'><span class='d-none d-lg-inline'>元請：</span><%= @inner_sash.site_memo.site.contractor.name %></p>
    <p class='col my-1 fw-bold text-truncate'><span class='d-none d-lg-inline'>現場名：</span><%= @inner_sash.site_memo.site.name %></p>
    <p class='col my-1 fw-bold text-truncate'><span class='d-none d-lg-inline'>住所：</span><%= @inner_sash.site_memo.site.address %></p>
  </div>
</div>
