<div class="container-fluid site-label">
  <div class="row text-center">
    <p class='col my-1 fw-bold text-truncate'><span class='d-none d-lg-inline'>元請：</span><%= parent.contractor.name %></p>
    <p class='col my-1 fw-bold text-truncate'><span class='d-none d-lg-inline'>現場名：</span><%= parent.name %></p>
    <p class='col my-1 fw-bold text-truncate'><span class='d-none d-lg-inline'>住所：</span><%= parent.address %></p>
  </div>
</div>
