<%= turbo_stream.update 'drawing' do %>
  <%= render 'drawing_tabs', inner_sash: @inner_sash, h_cross: 'active' %>
  <div class="position-relative">
    <%= image_tag 'h_cross_section', class: 'cross-image' %>
    <p class="width-size"><%= @inner_sash.width_frame_depth %></p>
  </div>
<% end %>