<%= render 'new_added_index' %>

<div class="container">
  <div class="row justify-content-center">
    <div id="add-data"></div>
    <div class="row justify-content-center p-3 mb-3 mb-lg-5 mt-3">
      <%= link_to 'メモ一覧で確認', site_memos_index_path(session[:site_id]), class: 'btn btn-primary col-9 col-md-4 col-lg-2' %>
    </div>
  </div>
</div>

<%= stylesheet_link_tag "new", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "index", "data-turbo-track": "reload" %>