// ナビゲーション
.navbar-custom{
  background-color: var(--main);
}

.dropdown-menu-custom{
  background-color: var(--main-back);
}

.navbar-toggler-custom{
  border: none;
}

.cancel-shadow:focus{
  box-shadow:none !important;
}

.dropdown-menu-custom{
  margin-top: 10px !important;
  text-align: center;
}

.dropdown-toggle::after {
  display: none;
}

.btn-primary{
  background-color: var(--main);
  border: none;
  box-shadow: 0 3px 1px 1px var(--character);
}

.btn-primary:hover{
  background-color: var(--dark-sub);
}

.btn-primary:active{
  background-color: var(--side);
}

.btn-light-custom{
  background-color: var(--main-back);
  box-shadow: 0 3px 1px 1px var(--character);
}

.bg-danger{
  background-color: var(--sign) !important;
}