//共通
$main-back: #F4F5F7;
$character: #333333;
$main: #4ccfcb;
$thn-sub: #B1DEDC;
$dark-sub: #34787a;
$sign: #CF4C51;
$side:#A1B3B2;

body{
  color: $character !important;
}

a{
  text-decoration: none;
  color: $character;
}


// ナビゲーション
.navbar-custom{
  background-color: $main;
}

.dropdown-menu-custom{
  background-color: $main-back;
}

.navbar-toggler-custom{
  border: none;
}

.cancel-shadow:focus{
  box-shadow:none !important;
}

.dropdown-menu-custom{
  margin-top: 10px !important;
  text-align: center;
}

.dropdown-toggle::after {
  display: none;
}

.link-bright{
  color: $main-back;
}