.room-list{
  height: 50px;
  box-shadow: 0px 0px 3px var(--side);
}

.added-link-wrap{
  border-bottom: 2px solid var(--thin-sub);
}

.added-link{
  border: 2px solid var(--side);
  padding: 5px;
}

.size-form{
  height: 25px;
}