.buttons{
  margin-top: 18vh;
}

footer{
  height: 50px;
  background-color: var(--main);
  color: var(--main-back);
}

i{
  color: var(--side) !important;
}

// * {
//   outline: 2px solid blue;
// }