<%= form_with model: @site_memo, url: site_memos_form_switcher_path, local: true do |f| %>
  <div class="form-group">
    <%= f.label :kind, '施工内容' %>
    <%= f.select :kind, SiteMemo.kinds.keys.map{ |k| [I18n.t("enums.site_memo.kind.#{k}"),k]}, {prompt: '選択してください'} %>
  </div>
  <div class="form-group">
    <%= f.submit '次へ' %>
  </div>
<% end %>