<!-- モバイル用 -->
<%= turbo_stream_flash %>
<%= turbo_stream.update "site-memos-list" do %>
  <div class="d-flex justify-content-center position-fixed bulk-btn">
    <%= render 'bulk_order_link', devise: 'mobile' %>
  </div>
  <%= render @site_memos %>
<% end %>