<%= turbo_stream_flash %>
<%= turbo_stream.update "site-memos-list" do %>
  <div class="d-flex justify-content-center bulk-btn mb-3">
    <%= render 'bulk_order_link' %>
  </div>
  <%= render @site_memos %>
<% end %>