<%= link_to '現場追加', sites_new_path %>
<div>
  <div class="headding">
    <p>元請</p>
    <p>現場名</p>
    <p>現調日</p>
    <p>工事日</p>
  </div>
  <%= turbo_frame_tag 'sites-list' do %>
    <%= render @sites %>
    <%= paginate @sites %>
  <% end %>
</div>